/* Carousel Block Styles */
/* ============================================================== */
/* #region: carousel */
.carousel {
  position: relative;

  /* ! Override WP Style */
  margin: 0 !important;
  max-width: none !important;
  padding: 0;
}
/* #endregion: carousel */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* #region: carousel | controls */
.carousel__control {
  position: absolute;
  top: 50%;
  z-index: 1;

  border-radius: 50%;
  transform: translateY(-50%);
}

.carousel__control--left {
  left: 1rem;
}

.carousel__control--right {
  right: 1rem;
}

/* #endregion: carousel | controls */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* #region: carousel | dots */
.carousel__dots {
  bottom: 1rem;
  position: absolute;

  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}
/* #endregion: carousel | dots */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* #region: carousel | slide */
.carousel__slide {
  position: relative;

  display: flex;

  height: clamp(20rem, 50dvh, 40rem);
}

.carousel-slide__content {
  position: relative;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  flex: 1;
  padding: clamp(1rem, 2vw, 2rem);

  color: var(--wp--preset--color--tufas-white);

  background: var(--wp--preset--gradient--tufas-gradient-500);
}

.carousel-slide-content__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.carousel-slide__image {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
}

.carousel-slide__image img {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}
/* #endregion: carousel | slide */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
