.classes {
  max-width: none !important;
  margin-inline: 0 !important;
  padding-inline: clamp(1rem, 2.5vw, 2rem);
}

.classes__container {
  --classes-container-grid: 1fr;

  display: grid;
  grid-template-columns: var(--classes-container-grid);
  gap: clamp(2rem, 2.5vw, 4rem);
  margin-inline: auto;
  max-width: var(--wp--style--global--wide-size);
  width: 100%;
}

.class {
  --class-grid: 1fr;

  display: grid;
  grid-template-columns: var(--class-grid);
  gap: 1rem;
}

.class:nth-child(even) .class__figure {
  order: 1;
}

@media (width > 800px) {
  .class {
    --class-grid: repeat(2, 1fr);
  }
}

.class__figure {
  position: relative;

  height: 100%;

  border-radius: 1rem;
  overflow: hidden;
}

.class__image {
  inset: 0;
  position: absolute;

  height: 100%;
  width: 100%;

  object-fit: cover;
}

.class__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.class-content__heading {
  color: var(--wp--preset--color--tufas-gray-700);
}

.class-content__footer {
  align-items: center;
  display: flex;
  gap: 1rem;
}
