@font-face {
  font-family: "Chaney";
  src:
    url("/wp-content/themes/tufas-theme/assets/fonts/chaney/chaney-regular-webfont.woff2"),
    url("/wp-content/themes/tufas-theme/assets/fonts/chaney/chaney-regular-webfont.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* ==================================================================== */
@font-face {
  font-family: "Geomanist";
  src:
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-light-webfont.woff2"),
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-light-webfont.woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Geomanist";
  src:
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-light-italic-webfont.woff2"),
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-light-italic-webfont.woff");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
/* ==================================================================== */
@font-face {
  font-family: "Geomanist";
  src:
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-book-webfont.woff2"),
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-book-webfont.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Geomanist";
  src:
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-book-italic-webfont.woff2"),
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-book-italic-webfont.woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
/* ==================================================================== */
@font-face {
  font-family: "Geomanist";
  src:
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-medium-webfont.woff2"),
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-medium-webfont.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Geomanist";
  src:
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-medium-italic-webfont.woff2"),
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-medium-italic-webfont.woff");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
/* ==================================================================== */
@font-face {
  font-family: "Geomanist";
  src:
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-bold-webfont.woff2"),
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-bold-webfont.woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Geomanist";
  src:
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-bold-italic-webfont.woff2"),
    url("/wp-content/themes/tufas-theme/assets/fonts/geomanist/geomanist-bold-italic-webfont.woff");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
